<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create User</a>
    </div>
    <div class="table-content">
        <div class="title">List User</div>
        <table class="w3-table">

            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>
            <% listUsers.forEach(function(user) { %>
                <tr>
                    <td>
                        <%= user.id %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.city %>
                    </td>
                    <td>
                        <form action="/update" method="post">
                            <input type="hidden" name="idUpdate" value="<%= user.id %>">
                            <Button class="button">Edit</Button>
                        </form>
                        <form action="delete" method="post">
                            <input type="hidden" name="idDelete" value="<%= user.id %>">
                            <Button class="button">Delete</Button>
                        </form>
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>
</body>

</html>